* {
  margin: 0;
  padding: 0;
}
.contenedor {
  margin-left: 50px;
}
.imagen {
  width: 500px;
  position: absolute;
}
.medalla {
  width: 100px;
  position: relative;
  left: 363px;
  top: 40px;
}
.titulo {
  font-size: 36px;
  color: purple;
  position: relative;
  bottom: -465px;
  left: 15px;
}
.autor {
  font-size: 20px;
  position: relative;
  bottom: -485px;
  left: 15px;
}
